In [17]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

spark = (
    SparkSession
    .builder
    .config("spark.sql.warehouse.dir", "./temp")
    .master('local[*]')
    .getOrCreate()
)

In [22]:
df = spark.read.csv(r"C:\dados-tcs-itau\Etapa 4\dados\clientes.csv", header=True, inferSchema=True)
df.show()

+----------+-----+-----+--------------+
|id_cliente| nome|idade|        cidade|
+----------+-----+-----+--------------+
|         1| João|   35|     São Paulo|
|         2|Maria|   25|Rio de Janeiro|
|         3| José|   40|      Curitiba|
|         4|  Ana|   28|     São Paulo|
|         5|Paulo|   50|Belo Horizonte|
+----------+-----+-----+--------------+

In [23]:
df.select("nome", "idade", "cidade").show()

+-----+-----+--------------+
| nome|idade|        cidade|
+-----+-----+--------------+
| João|   35|     São Paulo|
|Maria|   25|Rio de Janeiro|
| José|   40|      Curitiba|
|  Ana|   28|     São Paulo|
|Paulo|   50|Belo Horizonte|
+-----+-----+--------------+

In [20]:
df.filter(df["idade"] > 30).show()

+----------+-----+-----+--------------+
|id_cliente| nome|idade|        cidade|
+----------+-----+-----+--------------+
|         1| João|   35|     São Paulo|
|         3| José|   40|      Curitiba|
|         5|Paulo|   50|Belo Horizonte|
+----------+-----+-----+--------------+

In [21]:
df.filter(df["cidade"] == "São Paulo").count()

2